
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: smart-task-app
    container_name: smart-task-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    networks:
      - smart-network
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: smart-task-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - smart-network

  nginx:
    image: nginx:latest
    container_name: smart-task-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www
    depends_on:
      - app
    networks:
      - smart-network

  pma:
    image: phpmyadmin/phpmyadmin:latest
    container_name: smart-task-pma
    restart: unless-stopped
    ports:
      - "${PMA_PORT}:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: ${DB_USERNAME}
      PMA_PASSWORD: ${DB_PASSWORD}
      # Optional but useful:
      UPLOAD_LIMIT: 64M
    depends_on:
      - db
    networks:
      - smart-network


networks:
  smart-network:

volumes:
  dbdata:
